@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#copyrightbar{
    
    display: flex;
    justify-content: space-between;
    padding: .7vh 10vh;
    background-color: rgba(0, 0, 0, .3);
}

.soclogo{
    list-style: none;
}

.soclogo li{
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
}

.soclogo li a img{
    background-color: white;
    height: 6vh;
    border-radius: 100%;
}

#copyrightbar p{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 0.78vw;
    color: white;
    margin-top: 2vh;
}